ion-menu-button {
  color: var(--ion-color-primary);
}
.toolbar-title {
  text-overflow: inherit;
  white-space: normal;
}
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.arabic {
  font-family:Scheherazade !important;
  line-height: 140%;
  align-content: right;
}

.ar {
  font-family:Katibeh !important;
  line-height: 140%;
  align-content: right;
}

.arab {
  font-family:'Qahiri' !important;
  line-height: 140%;
  align-content: right;
}
.arab2 {
  font-family:'Amiri-Regular' !important;
  line-height: 140%;
  align-content: right;
}
.arab3 {
  font-family:'ScheherazadeRegOT' !important;
  line-height: 140%;
  align-content: right;
}