ion-button {
    // Padding bottom is 0 by default, so we need to set it to 10px
    --padding-bottom: 10px;
    height: fit-content;
    margin: 10px 0;
}

ion-title {
    margin-bottom: 5px;
}

ion-label.notes {
    font-size: var(--font-size);
    font-weight: bold;
    margin-top: 10px;
}

.item.item-text-wrap {
    --padding-end: 0;
}

.additional-links {
    font-size: var(--font-size-small);
    padding: 20px;
    text-align: center;
}

ion-item {
    margin: 20px;
    border-radius: 5px;
}

.center-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.container{
    margin: 20px;
}